body {
    font-family: 'Roboto', sans-serif !important;
    color: #031c4e;
    font-size: 16px;
    font-weight: 400;
    min-width: 386px;
}

[class*="col-"] {
    padding: 10px 15px;
} 

h2{
    color: #031c4e;
    margin: 0;
    font-size: 40px;
    padding: 15px;
}
p{
    font-size: 18px;
}
.mt-50{
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px;
}
.navbar{
    background-color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: #031c4e;
}
.navbar-right{
    margin-top: 1%;
}
.navbar-brand{
    margin-top: 3%;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #0C71FF;
}
.submit{
    
    margin-top: 2px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #0C71FF;
}
body > header > div.container-fluid.jumbo-header > div > div > div:nth-child(1){
    color: white;
}
h3, .dark-blue{
    color: #031c4e;
}

.link-blue{
color: #0C71FF;
}
p{
    color: grey;
}
.btn-success, .fa-circle {
    color:#0C71FF;
    background-color: white;
    border-color:  #0C71FF;
}
.btn-success:hover {
    color: white;
    background-color: #0269FF;
    transition: background-color 0.25s linear,border-color 0.25s linear,color 0.25s linear;
    border-color: #0269FF;
    }
.logo-img{
    height: 100%;
}
body > header > div.container-fluid.jumbo-header > div > div > div:nth-child(2) > form > div > div > p{
    color: black;
}


.jumbo-header{
    background-image:  url(../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    margin-bottom: 0;
    background-size: cover;
}
.lead{

    color: lightgrey;
}

.deploy ul {
    border-left: 1px solid grey;
    padding-left: 10px;
    text-align: left;
}
 
.deploy li {
    line-height: 40px;
    list-style: none;
    color: grey;
    font-size: 2rem;
}
#deploy > div > div > div:nth-child(1) > div{
    margin-bottom: 2%;
}
.deploy{
    margin-bottom: 50px;
}

#service {
line-height: 35px;
}
#service .col-lg-3 {
text-align: right;
}
#service> h2{
color: white;
}

#service,#get-started{
background: linear-gradient(108deg, rgba(0,72,198,1) 35%, rgba(0,32,155,1) 100%);
color: white;
}
#service > .container-fluid> .container> .col-lg-6 .row > [class*=col]  {
    border-bottom: 1.5px solid white;
    margin-bottom: 5px;;
}
#service > .container-fluid> .container> .col-lg-6{
    padding: 2%;
}
#service > .container-fluid> .container> .col-lg-6 .row > [class*=col] a {
    color: #00d5d1;
}

body > header > div.container-fluid.jumbo-header > div > div{
    margin-top: 10%;
}

.login-block {
    margin: 30px auto;
    min-height: 93.6vh
}

.login-block .auth-box {
    margin: 20px auto 0;
    max-width: 450px !important
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff
}

.card .card-block {
    padding: 1.25rem
}

.f-80 {
    font-size: 80px
}

.form-group {
    margin-bottom: 1.25em
}

.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}
.business-logo, #developers, #rockerbox{
    background-color: #f3f5f9;

}
.p-0 {
    padding: 0 5px;
}
.p_5{
    padding: 5%;
}
.white{
    color: white;
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.heading {
    font-size: 21px
}

#infoMessage p {
    color: red !important
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
}
#google{
    float: left;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

#developers > div > div > div > div:nth-child(2) > img{
width: 100%;
}
#carousel{
    margin-top: 20%;
    font-size: 50px;
    color: grey;
}
#carousel_2{
    margin-top: 10%;
    font-size: 50px;
    color: grey;
}
.card-img-top{
    margin-bottom: 25px;
}


.create{
        color: #006aff ;
    }

      .panel-body{
        padding: 5%;
    }

#footer{
        color: #7a859d;
        background-color: #031c4e;
    };
    }
#footer > div > div > div > div.col-lg-8.col-md-8.col-sm-12 > div:nth-child(1) > ul{
    padding: 0;
    }
#footer > .container-fluid > .container> .row> .col-lg-8  > .col-xs-12> ul> li {
    list-style-type: none;
    }
#footer > .container-fluid > .container> .row> .col-lg-8  > .col-xs-12> ul> li > a{
    color: #a6adbd;
        }

    .footer_link_title {
    font-weight: bold;
    color: white;
    }
    footer .fab {
        color: #7a859d;
        font-size: 20px;
        margin: 10px 5px;
    }




@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;1
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media (max-width: 968px) {
        #carousel{
            display: none;
        }
        #carousel_2{
            display: none;
        }
        h2{
            font-size: 28px;
        }
    }